// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-pink-name: 'arrow-left - pink';
$arrow-left-pink-x: 0px;
$arrow-left-pink-y: 245px;
$arrow-left-pink-offset-x: 0px;
$arrow-left-pink-offset-y: -245px;
$arrow-left-pink-width: 18px;
$arrow-left-pink-height: 32px;
$arrow-left-pink-total-width: 358px;
$arrow-left-pink-total-height: 277px;
$arrow-left-pink-image: 'sprite.png';
$arrow-left-pink: (0px, 245px, 0px, -245px, 18px, 32px, 358px, 277px, 'sprite.png', 'arrow-left - pink', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 269px;
$arrow-left-y: 157px;
$arrow-left-offset-x: -269px;
$arrow-left-offset-y: -157px;
$arrow-left-width: 18px;
$arrow-left-height: 32px;
$arrow-left-total-width: 358px;
$arrow-left-total-height: 277px;
$arrow-left-image: 'sprite.png';
$arrow-left: (269px, 157px, -269px, -157px, 18px, 32px, 358px, 277px, 'sprite.png', 'arrow-left', );
$arrow-right-pink-name: 'arrow-right - pink';
$arrow-right-pink-x: 43px;
$arrow-right-pink-y: 245px;
$arrow-right-pink-offset-x: -43px;
$arrow-right-pink-offset-y: -245px;
$arrow-right-pink-width: 18px;
$arrow-right-pink-height: 32px;
$arrow-right-pink-total-width: 358px;
$arrow-right-pink-total-height: 277px;
$arrow-right-pink-image: 'sprite.png';
$arrow-right-pink: (43px, 245px, -43px, -245px, 18px, 32px, 358px, 277px, 'sprite.png', 'arrow-right - pink', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 86px;
$arrow-right-y: 245px;
$arrow-right-offset-x: -86px;
$arrow-right-offset-y: -245px;
$arrow-right-width: 18px;
$arrow-right-height: 32px;
$arrow-right-total-width: 358px;
$arrow-right-total-height: 277px;
$arrow-right-image: 'sprite.png';
$arrow-right: (86px, 245px, -86px, -245px, 18px, 32px, 358px, 277px, 'sprite.png', 'arrow-right', );
$barcode-name: 'barcode';
$barcode-x: 334px;
$barcode-y: 91px;
$barcode-offset-x: -334px;
$barcode-offset-y: -91px;
$barcode-width: 20px;
$barcode-height: 20px;
$barcode-total-width: 358px;
$barcode-total-height: 277px;
$barcode-image: 'sprite.png';
$barcode: (334px, 91px, -334px, -91px, 20px, 20px, 358px, 277px, 'sprite.png', 'barcode', );
$blog-name: 'blog';
$blog-x: 85px;
$blog-y: 54px;
$blog-offset-x: -85px;
$blog-offset-y: -54px;
$blog-width: 49px;
$blog-height: 24px;
$blog-total-width: 358px;
$blog-total-height: 277px;
$blog-image: 'sprite.png';
$blog: (85px, 54px, -85px, -54px, 49px, 24px, 358px, 277px, 'sprite.png', 'blog', );
$boleto-name: 'boleto';
$boleto-x: 192px;
$boleto-y: 139px;
$boleto-offset-x: -192px;
$boleto-offset-y: -139px;
$boleto-width: 41px;
$boleto-height: 23px;
$boleto-total-width: 358px;
$boleto-total-height: 277px;
$boleto-image: 'sprite.png';
$boleto: (192px, 139px, -192px, -139px, 41px, 23px, 358px, 277px, 'sprite.png', 'boleto', );
$cadeado-name: 'cadeado';
$cadeado-x: 334px;
$cadeado-y: 261px;
$cadeado-offset-x: -334px;
$cadeado-offset-y: -261px;
$cadeado-width: 10px;
$cadeado-height: 10px;
$cadeado-total-width: 358px;
$cadeado-total-height: 277px;
$cadeado-image: 'sprite.png';
$cadeado: (334px, 261px, -334px, -261px, 10px, 10px, 358px, 277px, 'sprite.png', 'cadeado', );
$caminhao-name: 'caminhao';
$caminhao-x: 334px;
$caminhao-y: 180px;
$caminhao-offset-x: -334px;
$caminhao-offset-y: -180px;
$caminhao-width: 19px;
$caminhao-height: 16px;
$caminhao-total-width: 358px;
$caminhao-total-height: 277px;
$caminhao-image: 'sprite.png';
$caminhao: (334px, 180px, -334px, -180px, 19px, 16px, 358px, 277px, 'sprite.png', 'caminhao', );
$cartao-name: 'cartao';
$cartao-x: 334px;
$cartao-y: 221px;
$cartao-offset-x: -334px;
$cartao-offset-y: -221px;
$cartao-width: 18px;
$cartao-height: 15px;
$cartao-total-width: 358px;
$cartao-total-height: 277px;
$cartao-image: 'sprite.png';
$cartao: (334px, 221px, -334px, -221px, 18px, 15px, 358px, 277px, 'sprite.png', 'cartao', );
$diners-name: 'diners';
$diners-x: 132px;
$diners-y: 197px;
$diners-offset-x: -132px;
$diners-offset-y: -197px;
$diners-width: 40px;
$diners-height: 23px;
$diners-total-width: 358px;
$diners-total-height: 277px;
$diners-image: 'sprite.png';
$diners: (132px, 197px, -132px, -197px, 40px, 23px, 358px, 277px, 'sprite.png', 'diners', );
$elo-name: 'elo';
$elo-x: 58px;
$elo-y: 139px;
$elo-offset-x: -58px;
$elo-offset-y: -139px;
$elo-width: 42px;
$elo-height: 23px;
$elo-total-width: 358px;
$elo-total-height: 277px;
$elo-image: 'sprite.png';
$elo: (58px, 139px, -58px, -139px, 42px, 23px, 358px, 277px, 'sprite.png', 'elo', );
$facebook-name: 'facebook';
$facebook-x: 276px;
$facebook-y: 245px;
$facebook-offset-x: -276px;
$facebook-offset-y: -245px;
$facebook-width: 24px;
$facebook-height: 24px;
$facebook-total-width: 358px;
$facebook-total-height: 277px;
$facebook-image: 'sprite.png';
$facebook: (276px, 245px, -276px, -245px, 24px, 24px, 358px, 277px, 'sprite.png', 'facebook', );
$fechar-white-name: 'fechar - white';
$fechar-white-x: 178px;
$fechar-white-y: 245px;
$fechar-white-offset-x: -178px;
$fechar-white-offset-y: -245px;
$fechar-white-width: 24px;
$fechar-white-height: 24px;
$fechar-white-total-width: 358px;
$fechar-white-total-height: 277px;
$fechar-white-image: 'sprite.png';
$fechar-white: (178px, 245px, -178px, -245px, 24px, 24px, 358px, 277px, 'sprite.png', 'fechar - white', );
$fechar-name: 'fechar';
$fechar-x: 334px;
$fechar-y: 136px;
$fechar-offset-x: -334px;
$fechar-offset-y: -136px;
$fechar-width: 19px;
$fechar-height: 19px;
$fechar-total-width: 358px;
$fechar-total-height: 277px;
$fechar-image: 'sprite.png';
$fechar: (334px, 136px, -334px, -136px, 19px, 19px, 358px, 277px, 'sprite.png', 'fechar', );
$fita-metrica-name: 'fita-metrica';
$fita-metrica-x: 269px;
$fita-metrica-y: 106px;
$fita-metrica-offset-x: -269px;
$fita-metrica-offset-y: -106px;
$fita-metrica-width: 26px;
$fita-metrica-height: 26px;
$fita-metrica-total-width: 358px;
$fita-metrica-total-height: 277px;
$fita-metrica-image: 'sprite.png';
$fita-metrica: (269px, 106px, -269px, -106px, 26px, 26px, 358px, 277px, 'sprite.png', 'fita-metrica', );
$google-safe-browser-name: 'google-safe-browser';
$google-safe-browser-x: 0px;
$google-safe-browser-y: 0px;
$google-safe-browser-offset-x: 0px;
$google-safe-browser-offset-y: 0px;
$google-safe-browser-width: 140px;
$google-safe-browser-height: 29px;
$google-safe-browser-total-width: 358px;
$google-safe-browser-total-height: 277px;
$google-safe-browser-image: 'sprite.png';
$google-safe-browser: (0px, 0px, 0px, 0px, 140px, 29px, 358px, 277px, 'sprite.png', 'google-safe-browser', );
$hiper-name: 'hiper';
$hiper-x: 269px;
$hiper-y: 0px;
$hiper-offset-x: -269px;
$hiper-offset-y: 0px;
$hiper-width: 40px;
$hiper-height: 23px;
$hiper-total-width: 358px;
$hiper-total-height: 277px;
$hiper-image: 'sprite.png';
$hiper: (269px, 0px, -269px, 0px, 40px, 23px, 358px, 277px, 'sprite.png', 'hiper', );
$instagram-name: 'instagram';
$instagram-x: 129px;
$instagram-y: 245px;
$instagram-offset-x: -129px;
$instagram-offset-y: -245px;
$instagram-width: 24px;
$instagram-height: 25px;
$instagram-total-width: 358px;
$instagram-total-height: 277px;
$instagram-image: 'sprite.png';
$instagram: (129px, 245px, -129px, -245px, 24px, 25px, 358px, 277px, 'sprite.png', 'instagram', );
$lupa-name: 'lupa';
$lupa-x: 334px;
$lupa-y: 0px;
$lupa-offset-x: -334px;
$lupa-offset-y: 0px;
$lupa-width: 24px;
$lupa-height: 24px;
$lupa-total-width: 358px;
$lupa-total-height: 277px;
$lupa-image: 'sprite.png';
$lupa: (334px, 0px, -334px, 0px, 24px, 24px, 358px, 277px, 'sprite.png', 'lupa', );
$m3-name: 'm3';
$m3-x: 125px;
$m3-y: 139px;
$m3-offset-x: -125px;
$m3-offset-y: -139px;
$m3-width: 42px;
$m3-height: 23px;
$m3-total-width: 358px;
$m3-total-height: 277px;
$m3-image: 'sprite.png';
$m3: (125px, 139px, -125px, -139px, 42px, 23px, 358px, 277px, 'sprite.png', 'm3', );
$master-name: 'master';
$master-x: 66px;
$master-y: 197px;
$master-offset-x: -66px;
$master-offset-y: -197px;
$master-width: 41px;
$master-height: 23px;
$master-total-width: 358px;
$master-total-height: 277px;
$master-image: 'sprite.png';
$master: (66px, 197px, -66px, -197px, 41px, 23px, 358px, 277px, 'sprite.png', 'master', );
$menu-name: 'menu';
$menu-x: 334px;
$menu-y: 49px;
$menu-offset-x: -334px;
$menu-offset-y: -49px;
$menu-width: 24px;
$menu-height: 17px;
$menu-total-width: 358px;
$menu-total-height: 277px;
$menu-image: 'sprite.png';
$menu: (334px, 49px, -334px, -49px, 24px, 17px, 358px, 277px, 'sprite.png', 'menu', );
$pagseguro-name: 'pagseguro';
$pagseguro-x: 0px;
$pagseguro-y: 197px;
$pagseguro-offset-x: 0px;
$pagseguro-offset-y: -197px;
$pagseguro-width: 41px;
$pagseguro-height: 23px;
$pagseguro-total-width: 358px;
$pagseguro-total-height: 277px;
$pagseguro-image: 'sprite.png';
$pagseguro: (0px, 197px, 0px, -197px, 41px, 23px, 358px, 277px, 'sprite.png', 'pagseguro', );
$pinterest-name: 'pinterest';
$pinterest-x: 227px;
$pinterest-y: 245px;
$pinterest-offset-x: -227px;
$pinterest-offset-y: -245px;
$pinterest-width: 24px;
$pinterest-height: 24px;
$pinterest-total-width: 358px;
$pinterest-total-height: 277px;
$pinterest-image: 'sprite.png';
$pinterest: (227px, 245px, -227px, -245px, 24px, 24px, 358px, 277px, 'sprite.png', 'pinterest', );
$sacola-name: 'sacola';
$sacola-x: 269px;
$sacola-y: 48px;
$sacola-offset-x: -269px;
$sacola-offset-y: -48px;
$sacola-width: 27px;
$sacola-height: 33px;
$sacola-total-width: 358px;
$sacola-total-height: 277px;
$sacola-image: 'sprite.png';
$sacola: (269px, 48px, -269px, -48px, 27px, 33px, 358px, 277px, 'sprite.png', 'sacola', );
$top-name: 'top';
$top-x: 0px;
$top-y: 54px;
$top-offset-x: 0px;
$top-offset-y: -54px;
$top-width: 60px;
$top-height: 60px;
$top-total-width: 358px;
$top-total-height: 277px;
$top-image: 'sprite.png';
$top: (0px, 54px, 0px, -54px, 60px, 60px, 358px, 277px, 'sprite.png', 'top', );
$user-name: 'user';
$user-x: 0px;
$user-y: 139px;
$user-offset-x: 0px;
$user-offset-y: -139px;
$user-width: 33px;
$user-height: 33px;
$user-total-width: 358px;
$user-total-height: 277px;
$user-image: 'sprite.png';
$user: (0px, 139px, 0px, -139px, 33px, 33px, 358px, 277px, 'sprite.png', 'user', );
$visa-name: 'visa';
$visa-x: 197px;
$visa-y: 197px;
$visa-offset-x: -197px;
$visa-offset-y: -197px;
$visa-width: 40px;
$visa-height: 23px;
$visa-total-width: 358px;
$visa-total-height: 277px;
$visa-image: 'sprite.png';
$visa: (197px, 197px, -197px, -197px, 40px, 23px, 358px, 277px, 'sprite.png', 'visa', );
$vtex-pci-name: 'vtex-pci';
$vtex-pci-x: 165px;
$vtex-pci-y: 57px;
$vtex-pci-offset-x: -165px;
$vtex-pci-offset-y: -57px;
$vtex-pci-width: 64px;
$vtex-pci-height: 40px;
$vtex-pci-total-width: 358px;
$vtex-pci-total-height: 277px;
$vtex-pci-image: 'sprite.png';
$vtex-pci: (165px, 57px, -165px, -57px, 64px, 40px, 358px, 277px, 'sprite.png', 'vtex-pci', );
$vtex-name: 'vtex';
$vtex-x: 165px;
$vtex-y: 0px;
$vtex-offset-x: -165px;
$vtex-offset-y: 0px;
$vtex-width: 79px;
$vtex-height: 32px;
$vtex-total-width: 358px;
$vtex-total-height: 277px;
$vtex-image: 'sprite.png';
$vtex: (165px, 0px, -165px, 0px, 79px, 32px, 358px, 277px, 'sprite.png', 'vtex', );
$spritesheet-width: 358px;
$spritesheet-height: 277px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($arrow-left-pink, $arrow-left, $arrow-right-pink, $arrow-right, $barcode, $blog, $boleto, $cadeado, $caminhao, $cartao, $diners, $elo, $facebook, $fechar-white, $fechar, $fita-metrica, $google-safe-browser, $hiper, $instagram, $lupa, $m3, $master, $menu, $pagseguro, $pinterest, $sacola, $top, $user, $visa, $vtex-pci, $vtex, );
$spritesheet: (358px, 277px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
