<!DOCTYPE html>
<html  lang="pt-br">

<head>
	<meta name="page" content="home" page-id="homepage" />
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Template</title>

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- <link rel="stylesheet" href="/arquivos/template--base.css"/> -->
	<link rel="stylesheet" href="/arquivos/main.css"/>


</head>

<body>
	<div class="content">
		{% include "../sub-templates/template-header.html" %}
		{% include "../sub-templates/template-menu.html" %}

		{% block content %} {% endblock %}
	</div>
	<footer>
		{% include "../sub-templates/template-footer-newletter.html" %}
		{% include "../sub-templates/template-footer-links.html" %}
		{% include "../sub-templates/template-footer.html" %}
	</footer>

<script src="/arquivos/bundle.js" async="async" ></script>
</body>

</html>
