
<section class="captacao-emails-newsletter">
	<div class="container">
		<div class="row">
			<div class="col-12 col-xl-6">
				<h3>Não perca nenhuma novidade!</h3>
				<p>
					Assine nossa newsletter e fique por dentro de todas as novidades
				</p>
			</div>
			<div class="col-12 col-xl-6">
				<div class="news-form"></div>
			</div>
		</div>
	</div>
</section>
