<header class="header">
	<div class="tipbar">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-8 vantagens">
					<ul>
						<li>
							<p>
								<i class="sprite cartao"></i>
								6x sem juros no cartão
							</p>
						</li>
						<li>
							<p>
								<i class="sprite barcode"></i>
								10% OFF no boleto bancário
							</p>
						</li>
						<li>
							<p>
								<i class="sprite caminhao"></i>
								<strong>Frete grátis</strong>
								<small>acima de R$199</small>
							</p>
						</li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-4  whatsapp">
					<a href="https://api.whatsapp.com/send?1=pt_BR&amp;phone=5500000000000" target="_blank">
						Whatsapp: <span> (00) 00000-0000</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="principal">
		<div class="container">
			<div class="row">
				<div class="col-3 menu-mobile-abrir">
					<button aria-label="Abrir Menu" id="open-menu-button">
						<i class="sprite menu"></i>
					</button>
				</div>
				<div class="col-6 col-md-4 logo">
					<a href="/"><img src="/arquivos/Logo.png" /></a>
				</div>
				<div class="col-md-4 busca-desktop">
					<div class="busca">
						<div class="barra-busca">
						</div>
					</div>
				</div>
				<div class="col-3 col-md-4 util-links">
					<div class="links-usuario">
						<div class="titulo">
							<span>Bem vindo!</span>
							<i class="sprite user"></i>
						</div>
						<ul class="lista-links">
							<li> 	<a href="/account/orders">Meus pedidos</a></li>
							<li> <a href="/account">Minha conta</a></li>
							<li> <a class="destaque" href="">Sair</a> </li>
						</ul>
					</div>
					<div class="carrinho">
						<a href="/checkout/#cart">
							<div class="AmountItemsInCart">
								<i class="sprite shopping-bag"></i>
							</div>
						</a>
						<div class="mini-cart">

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 busca-mobile">
					<div class="busca">
						<div class="barra-busca">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
