<section class=" footer">
	<div class="container-fluid">
		<div class="row">
			<div class="institucional-info col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 row">
				<div class="institucional-links col-12 col-md-4 offset-md-0">
					<h3 class="titulo">Dúvidas</h3>
					<ul>
						<li><a href="/institucional/sobre" title="Sobre">Sobre</a></li>
						<li><a href="/institucional/pagamento" title="Formas de Pagamento">Formas de Pagamento</a></li>
						<li><a href="/institucional/entrega" title="Formas de Entrega">Formas de Entrega</a></li>
						<li><a href="/institucional/troca-devolucao" title="Troca e Devolução">Troca e Devolução</a></li>
						<li><a href="/institucional/seguranca-privacidade" title="Segurança e Privacidade">Segurança e Privacidade</a></li>
						<li><a href="/institucional/contato" title="Contato">Contato</a></li>
					</ul>
				</div>
				<div class="contato-sac col-12 col-md-4 offset-md-0">
					<h3 class="titulo">Fale Conosco</h3>
					<ul>
						<li>
							<span itemprop="faxNumber">
								<a href="tel:+55 22 00000 00000">SAC: 22 00000 0000</a>
							</span>
						</li>
						<li>
							<span itemprop="email">
								<a href="mail:contato@contato.com.br">contato@contato.com.br</a>
							</span>
						</li>
						<li>
							<p>
								<span>
									Atendimento Online
								</span>
							</p>
						</li>
						<li>
							<p>
								<strong>
									Segunda a Sexta
								</strong>
								das 8h30 as 18h
							</p>
						</li>
					</ul>
				</div>
				<div class="redes-sociais col-12 col-md-4 offset-md-0">
					<h3 class="titulo">Fique Ligado</h3>
					<ul>
						<li>
							<a href="#" target="_blank" title="Instagram">
								<i class="sprite instagram"></i>
							</a>
						</li>
						<li>
							<a href="#" target="_blank" title="Facebook">
								<i class="sprite facebook"></i>
							</a>
						</li>
						<li>
							<a href="#" target="_blank" title="Pinterest">
								<i class="sprite pinterest"></i>
							</a>
						</li>
						<li>
							<a href="#" target="_blank" title="Blog">
								<i class="sprite blog"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
