<section class=" footer">
	<div class="selos">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<ul class="pagamento">
						<li><i class="sprite master"></i></li>
						<li><i class="sprite visa"></i></li>
						<li><i class="sprite diners"></i></li>
						<li><i class="sprite elo"></i></li>
						<li><i class="sprite hiper"></i></li>
						<li><i class="sprite pagseguro"></i></li>
						<li><i class="sprite boleto"></i></li>
					</ul>
					<ul class="certificados">
						<li><i class="sprite google-safe-browser"></i></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid razao">
		<div class="row">
			<div class="col-12 col-md-6 cnpj">
				<p>
					Copyright &#9400; 2019 - Loja Sweeter Comércio Eletrônico | <span>CNPJ: 000.000.000/0001-00</span>
				</p>
				<p>
					Rua 7 de Setembro, 3795 Centro - São Paulo/SP
				</p>
			</div>
			<div class="col-12 col-md-6 desenvolvimento">

				<a href="#">
					<span>Developed by </span>
					<i class="sprite m3"></i>
				</a>
			</div>
		</div>
	</div>
</section>

<div class="scroll-to-top">
	<i class="sprite top"></i>
</div>
