<section class="menu-principal">
	<div class="topo-menu-mobile">
		<div class="login">
			<i class="sprite user"></i>
			<div class="area-login">
				<span>
					Faça
					<a href="/login?ReturnUrl=%2F">
						login
					</a>
					 ou
					<a href="/login?ReturnUrl=%2F">
						cadastre-se.
					</a>
				</span>
			</div>
		</div>
		<button aria-label="Fechar Menu" id="close-menu-button">
			<i class="sprite fechar"></i>
		</button>
	</div>
	<nav role="navigation">
		<ul class="itens nav navbar-nav" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
			<li class="lancamentos" itemprop="name"><a itemprop="url" class="titulo-departamento" href="/lancamentos" title="Lançamentos">Lançamentos</a></li>
			<li class="feminino m3-dropdown"><a itemprop="url" class="titulo-departamento" href="/feminino" title="Feminino">Feminino</a><button class="ver-departamento">Abir departamento</button><ul class="m3-dropdown-menu"><li itemprop="name"><a itemprop="url" class="" href="/feminino/bolsas" title="Bolsas">Bolsas<i class="icone-menu-bolsas"></i></a></li><li itemprop="name"><a itemprop="url" class="" href="/feminino/cintos" title="Cintos">Cintos<i class="icone-menu-cintos"></i></a></li><li itemprop="name"><a itemprop="url" class="" href="/feminino/carteira" title="Carteira">Carteira<i class="icone-menu-carteira"></i></a></li><li itemprop="name"><a itemprop="url" class="" href="/feminino/acessorios" title="Acessórios">Acessórios<i class="icone-menu-acessorios"></i></a></li><li itemprop="name"><a itemprop="url" class="" href="/feminino/praia" title="Praia">Praia<i class="icone-menu-praia"></i></a></li><li itemprop="name"><a itemprop="url" class="" href="/feminino/roupas" title="Roupas">Roupas<i class="icone-menu-roupas"></i></a></li></ul></li>
			<li class="masculino m3-dropdown"><a itemprop="url" class="titulo-departamento" href="/masculino" title="Masculino">Masculino</a><button class="ver-departamento">Abir departamento</button><ul class="m3-dropdown-menu"><li itemprop="name"><a itemprop="url" class="" href="/masculino/bolsas" title="Bolsas">Bolsas<i class="icone-menu-bolsas"></i></a></li><li itemprop="name"><a itemprop="url" class="" href="/masculino/cintos" title="Cintos">Cintos<i class="icone-menu-cintos"></i></a></li><li itemprop="name"><a itemprop="url" class="" href="/masculino/carteira" title="Carteira">Carteira<i class="icone-menu-carteira"></i></a></li><li itemprop="name"><a itemprop="url" class="" href="/masculino/acessorios" title="Acessórios">Acessórios<i class="icone-menu-acessorios"></i></a></li></ul></li>
			<li class="malas m3-dropdown"><a itemprop="url" class="titulo-departamento" href="/malas" title="Malas">Malas</a><button class="ver-departamento">Abir departamento</button><ul class="m3-dropdown-menu"><li itemprop="name"><a itemprop="url" class="" href="/malas/tamanho" title="Tamanho">Tamanho<i class="icone-menu-tamanho"></i></a></li><li itemprop="name"><a itemprop="url" class="" href="/malas/material" title="Material">Material<i class="icone-menu-material"></i></a></li><li itemprop="name"><a itemprop="url" class="" href="/malas/tipo" title="Tipo">Tipo<i class="icone-menu-tipo"></i></a></li><li itemprop="name"><a itemprop="url" class="" href="/malas/acessorios" title="Acessórios">Acessórios<i class="icone-menu-acessorios"></i></a></li></ul></li>
			<li class="infantil m3-dropdown"><a itemprop="url" class="titulo-departamento" href="/infantil" title="Infantil">Infantil</a><button class="ver-departamento">Abir departamento</button><ul class="m3-dropdown-menu"><li itemprop="name"><a itemprop="url" class="" href="/infantil/bolsas" title="Bolsas">Bolsas<i class="icone-menu-bolsas"></i></a></li><li itemprop="name"><a itemprop="url" class="" href="/infantil/acessorios" title="Acessórios">Acessórios<i class="icone-menu-acessorios"></i></a></li><li itemprop="name"><a itemprop="url" class="" href="/infantil/escolar" title="Escolar">Escolar<i class="icone-menu-escolar"></i></a></li></ul></li>
			<li class="ofertas" itemprop="name"><a itemprop="url" class="titulo-departamento" href="/ofertas" title="Ofertas">Ofertas</a></li>
		</ul>
	</nav>
</section>
