

@keyframes  notificacao{
    0% {
        transform:rotate(0deg);
    }
    50% {
        transform:rotate(3deg) translateX(-3px);
    }
    100% {
        transform:rotate(-3deg) translateX(3px);
    }
}


@keyframes  addcart{
    0% {
		margin-left:0px;
    }
    50% {
		margin-left:-2px;
    }
    100% {
		margin-left:2px;
    }
}


@keyframes spin {
    from { transform:rotate(0deg);  }
    to { transform:rotate(360deg);  }
}

@keyframes sk-scaleout {
  0% { transform: scale(0) }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes cascadeInSimple {
    0% {
        opacity:0;
        transform: translateX(-100%)
    }

    100% {
        opacity:1;
        transform: translateX(0)
    }
}
