/**
 * @reference (https://github.com/engageinteractive/core/blob/master/src/scss/utility/_mixins.scss)
 */
@mixin push--auto {
	margin: {
		left: auto;
		right: auto;
	}
}
@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
}

@mixin responsive-ratio($x,$y, $pseudo: false) {
	$padding: unquote( ( $y / $x ) * 100 + '%' );
	@if $pseudo {
		&:before {
			@include pseudo($pos: relative);
			width: 100%;
			padding-top: $padding;
		}
	} @else {
		padding-top: $padding;
	}
}

@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false){
	@include pseudo($pos: $position);
	width: 0;
	height: 0;
	@if $round {
		border-radius: 3px;
	}
	@if $direction == down {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-top: $size solid $color;
		margin-top: 0 - round( $size / 2.5 );
	} @else if $direction == up {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size solid $color;
		margin-bottom: 0 - round( $size / 2.5 );
	} @else if $direction == right {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $size solid $color;
		margin-right: -$size;
	} @else if  $direction == left {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-right: $size solid $color;
		margin-left: -$size;
	}
}

@mixin input-placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}

@mixin hardware($backface: true, $perspective: 1000) {
	@if $backface {
		backface-visibility: hidden;
	}
	perspective: $perspective;
}

@mixin truncate($truncation-boundary) {
	max-width: $truncation-boundary;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin appearance($val: none) {
	-webkit-appearance: $val;
	-moz-appearance: $val;
	appearance: $val;
}


@mixin separador($cor,$p-right: 5px) {
	position: relative;
	padding-right: $p-right;
	display: inline-block;
	&:after{
		content:' ';
		display: block;
		width: 1px;
		height: 100%;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		background-color: $cor;
	}
	&:last-child:after{
		display: none;
	}
}

@mixin mq($width, $type: min) {
	@if map_has_key($grid-breakpoints, $width) {
		$width: map_get($grid-breakpoints, $width);
		@if $type == max {
			$width: $width - 1px;
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}

@mixin mq_range($min, $max) {
	@if (map_has_key($grid-breakpoints, $min) and map_has_key($grid-breakpoints, $max)) {

		$width_max: map_get($grid-breakpoints, $max);
		$width_min: map_get($grid-breakpoints, $min);
		$width_max: $width_max - 1px;
		@media only screen and (min-width: $width_min) and (max-width:$width_max) {
			@content;
		}
	}
}
