// fonts

$font-family: 'Open Sans', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

// colors
$color-black: hsla(0, 0%, 15%, 1);
$color-black2: hsla(0, 0%, 20%, 1);
$color-black3: hsla(0, 0%, 0%, 1);

$color-gray: hsla(0, 0%, 90%, 1);
$color-gray2: hsla(220, 1%, 43%, 1);
$color-gray3: 	hsl(0, 0%, 77%);
$color-gray4: hsla(0, 0%, 93%, 1);

$color-white: hsla(0, 0%, 100%, 1);

$color-pink: hsla(348, 83%, 65%, 1);
$color-pink2: hsla(348, 83%, 72%, 1);
$color-pink3: hsla(348, 83%, 58%, 1);

$color-purple: hsla(266, 70%, 52%, 1);

$color-green: hsla(138, 59%, 41%, 1);
$color-green2: hsla(138, 66%, 41%, 1);
$color-green3: hsla(138, 50%, 41%, 1);
$color-green4: hsla(138, 59%, 34%, 1);

// universal



// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;


$z-index: (
	menu:15,
	popup-add-cart:10,
	dropdown: 10,
	flag-prateleira:5,
	comprar-flutuante: 5,
	avise-me:5,
	scroll-top:7,
	header-fixo:10,
	popup-user:15
) !default;
