.sprite {
    display: inline-block;
    vertical-align: middle;
}


.content {
	flex: 1 0 auto;
}


.no-buttom {
	border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;
	outline: none;
	text-align: inherit;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
	appearance: none;

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}


.itens-inline{
	>*{ display: inline-block;}
}

%notificacao{

	padding: 7.5px 10px ;
	min-height: 1em;
	border-radius: 3px;
	border-right: solid 5px;
	display: block;
}
