/***************************************************************/
/**-- Barra de vantagem --------------------********************/
/*-------------------------------------------------------------*/
%link{

	display: block;
	padding: 10px 20px;
	text-align: center;

	span{
		white-space: nowrap;
		display: inline-block;
	}
}
.tipbar{
	background-color: $color-black;
	color: $color-white;
	font-size: 12px;

	a{
		color: $color-white;
		text-decoration: none;
	}

	ul{
		margin: 0;

		@include mq(md, max){
			padding: 7px 0;
			text-align: center;
		}

		&:not(.slick-initialized){
			li{
				&:not(:first-child){
					display: none;
				}
			}
		}

		li{
			display: inline-block;
			font-weight: 700;
			padding-right: 20px;

			i{
				vertical-align: bottom;
				max-height: 20px;
			}

			p{
				margin: 0;
			}

			strong{
				color: $color-pink;
				text-transform: uppercase;
			}

			small{
				font-weight: 400;
				font-size: 12px;
			}
		}
	}

	.whatsapp{
		text-align: right;
		padding: 0;

		a{
			background-color: $color-black2;
			max-width: 200px;
			margin-left: auto;
			@extend %link;

			@include mq(lg, max){
				padding: 10px 5px;
			}
		}
		@include mq_range(sm, md){
			display: none;
		}
		@include mq(sm, max){
			padding: 0;

			a{
				background-color: $color-pink;
				padding: 8px 4px;
				max-width: none;
				font-size: 11px;
			}
		}
	}
}
