/***************************************************************/
/**-- Breandcrumb --------------------------********************/
/*-------------------------------------------------------------*/

.breadcrumb,
.bread-crumb{
	font-size: 14px;
	text-align: center;
	margin-bottom: 20px;

	li{
		display: inline-block;

		&:first-child{
			font-size: 0;

			a:after{
				content: 'Home';
				font-size: 14px;
				border-right: 1px solid $color-gray2;
				margin-right: -9px;
				padding: 0px 9px 0px 0;
			}
		}

		&:last-child{
			a{
				border: none;
				font-weight: 700;
			}
		}

		a{
			border-right: 1px solid $color-gray2;
			color: $color-gray2;
			margin-right: 7px;
			padding: 0px 9px 0px 0;
		}
	}
}
