


.product-name a {
    color: #333;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.footer a:hover,
.header a:hover {
    color: #333;
}



#cart-choose-more-products {
    background: #ddd;
    color: #333;
    padding: 13px 19px;
    vertical-align: middle;
    font-size: 16px;
    line-height: 20px;
    border-radius: 6px;
}
.link-choose-more-products-wrapper{
    display: block;
}
#cart-to-orderform {
    background: #00a65a;

}

#cart-choose-more-products,
#cart-to-orderform {
    border-radius: 0;
    box-shadow: inset 0px 0px 10px -5px rgba(0, 0, 0, 1);
}

.coupon-column {

    .coupon-data,
    .summary-coupon {
        float: none;
    }

    .coupon-data {
        padding: 5px 10px;
        border: solid 1px;
        display: table;
        font-size: 14px;

        a {
            color: #333;
        }
    }
}

.coupon-form {

    input,
    button {
        border-radius: 0;
    }

    #cart-coupon-add {
        background: #333;
        color: #FFF;
        box-shadow: inset 0px 0px 10px -5px rgba(0, 0, 0, 1);
    }
}

.cart {
    border-radius: 0;
    border: none;
    border-bottom: solid 1px #333;
    border-top: solid 1px #333;
    padding: 0;
}

.cart-items thead tr {
    background: #333;
    color: #FFF;
}

.full-cart .summary-totalizers tfoot tr {
    border-top: solid 2px #333;
}

.product-image {
    background: transparent;
}

/** header */


.body-cart {
    padding: 0;
}
#cart-title {
    margin-bottom: 25px;
}
.cart {
    border-radius: 0;
    border: 1px solid #f4f4f4;
    padding: 5px;
}
#cart-choose-more-products,
#cart-to-orderform {
    margin: 10px auto 0;
    display: table;
    min-width: 13em;
}
.summary-template-holder .summary .coupon {
    float: none;
    margin: 0 auto;
}
