/***************************************************************/
/**-- Footer  ------------------------------********************/
/*-------------------------------------------------------------*/

.footer{
	border-top: 1px solid $color-gray3;
	margin-top: 45px;

	.institucional-info{
		color: $color-gray2;
		font-size: 14px;
		margin: auto;
		max-width: 950px;
		padding: 0 15px 25px;

		@include mq(md, max){
			font-size: 16px;
			padding-left: 0;
			padding-right: 0;
		}

		.titulo{
			font-size: 16px;
			margin: 25px 0 14px;
			text-transform: uppercase;

			@include mq(md, max){
				font-size: 22px;
				text-align: center;
			}
		}

		ul{
			margin: 0;

			@include mq(md, max){
				max-width: 310px;
				margin: auto;
				padding: 0 10px;
			}

			&:hover li a{
				opacity: 0.7;
			}

			li a{
				transition: all 0.15s linear;

				&:hover{
					opacity: 1;
				}
			}
		}

		a{
			color: $color-gray2;
		}

		.institucional-links{
			@include mq(md, max){
				border-bottom: 1px solid $color-gray;
				padding:10px 0 20px;
			}

			li{
				@include mq(md, max){
					margin-bottom: 10px;
				}
			}
		}

		.contato-sac{
			font-size: 12px;
			@include mq(md, max){
				border-bottom: 1px solid $color-gray;
				padding:10px 0 20px;
			}

			@include mq(md, max){
				font-size: 16px;
			}

			li{
				margin-bottom: 8px;

				&:last-child(){
					font-size: 10px;
					text-transform: uppercase;

					@include mq(md, max){
						font-size: 14px;
					}

					strong{
						display: block;
					}
				}
			}

			p{
				margin: 0;
				span{
					text-decoration: underline;
				}
			}
		}

		.redes-sociais{
			h3{
				@include mq(md, max){
					display: none;
				}
			}

			ul{
				@include mq(md, max){
					margin-top: 25px;
					text-align: center;
				}
			}

			li{
				display: inline-block;
				margin-right: 6px;
			}
		}
	}

	.selos{
		border-top: 1px solid $color-gray;
		padding: 5px 0;
		text-align: center;

		@include mq(md, min){
			border-bottom: 2px solid $color-gray3;
		}

		.col-12{
			@include mq(md, max){
				padding: 0;
			}
		}

		ul{
			display: inline-block;
			@include mq(md, max){
				width: 100%;
			}

			&.pagamento{
				padding-top: 10px;
				padding-bottom: 10px;

				@include mq(md, max){
					border-bottom: 1px solid $color-gray;
					padding-bottom: 25px;
				}

				@include mq(md, min){
					border-right: 1px solid $color-gray;
					margin-right: 20px;
					padding-right: 20px;
				}

				li{
					&:not(:last-child){
						@include mq(md, min){
							padding-right: 5px;
						}
					}
				}
			}

			&.certificados{
				li{
					&:not(:last-child){
						padding-right: 10px;
					}
				}
			}

			li{
				display: inline-block;

			}
		}
	}

	.razao{
		font-size: 10px;
		max-width: 1500px;
		margin: auto;
		padding: 15px;

		@include mq(md, max){
			padding-top: 10px;
		}

		p{
			color: $color-gray2;
			margin: 0;

			@include mq(md, max){
				text-align: center;
			}

			span{
				@include mq(md, max){
					display: block;
				}
			}
		}

		a{
			color: $color-gray2;
			display: inline-block;
		}

		.cnpj{
			@include mq(md, max){
				background-color: $color-gray;
				padding: 20px 15px;
			}
		}

		.desenvolvimento{
			text-align: right;

			@include mq(md, max){
				text-align: center;
				padding:20px 15px 0;
			}

			a:first-child{
				@include mq(md, max){
					border-right: 1px solid $color-gray;
					margin-right: 20px;
					padding-right:15px;
				}
			}

			span{
				display: inline-block;
			}
		}
	}
}
