/***************************************************************/
/**-- Header  ------------------------------********************/
/*-------------------------------------------------------------*/
#ajaxBusy{
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 15;
    padding: 0px 16px;
    line-height: 0.1;
	opacity: 0.75;

	&::after{
		@include pseudo(inline-block);
		border: solid 1px;
		padding: 4px;
		line-height: 0;
		position: absolute;
		right: 2px;
		top: 35%;
		border-color: $color-pink3 $color-gray4 $color-gray4 $color-gray4;
		animation: spin 0.5s linear infinite;
		border-radius: 50%;
	}
}
header{
	.row{
		align-items: center;
	}

	.principal{
		border-bottom: 1px solid $color-gray;
		padding: 18px 0;

		@include mq(md, max){
			padding-bottom: 0;
		}

		>.container{
			@include mq(md, max){
				max-width: 100%;
			}
		}
	}

	.menu-mobile-abrir{
		@include mq(md, min){
			display: none;
		}

		button{
			border: none;
			background-color: transparent;
			cursor: pointer;
			outline: none;
		}
	}

	.logo{
		@include mq(md, max){
			padding: 0;
		}

		img{
			width: auto;
			max-width: 100%;

			@include mq(md, max){
				max-width: 125px;
			}
		}
	}

	.busca-desktop{
		@include mq(md, max){
			display: none;
		}
	}

	.busca-mobile{
		margin-top: 20px;
		padding: 0;

		@include mq(md, min){
			display: none;
		}
	}

	.busca{
		background-color: $color-gray;
		font-size: 12px;
		max-width: 330px;
		margin: auto;
		padding: 0;
		text-align: center;

		@include mq(md, max){
			font-size: 16px;
			max-width: 100%;
		}

		legend, label, select{
			display: none;
		}

		input{
			border: none;
			background-color: $color-gray;
			color: $color-gray2;
			outline: none;
			padding: 10px 8px;

			&.fulltext-search-box{
				max-width: 300px;
				margin-right: -5px;
				width: 85%;

				@include mq(md, max){
					max-width: 100%;
				}
			}

			&.btn-buscar{
				@include sprite($lupa);
				cursor: pointer;
				font-size: 0;

				@include mq(md, min){
					transform: scale(0.8);
				}
			}
		}
	}

	.util-links{
		align-items: center;
		display: flex;
		justify-content: flex-end;
		text-align: right;

		@include mq(md, max){
			padding-left: 0;
		}
	}

	.links-usuario{
		display: inline-block;
		padding-right: 5px;
		position: relative;

		@include mq(sm, min){
			border-right: 1px solid $color-gray2;
			padding-right: 20px;
			margin-right: 12px;
		}
		.titulo{
			span{
				cursor: initial;
				color: $color-black3;
				text-decoration: none;
				text-transform: uppercase;
				vertical-align: sub;

				@include mq(md, max){
					display: none;
				}
			}

			i{
				@include mq(md, min){
					transform: scale(0.8);
				}
			}
		}

		ul.lista-links{
			display: none;
			text-align: center;
			position: absolute;
			background-color:#fff;
			width: 150px;
			margin: 4px 0;
			top: 95%;
			padding: 8px 16px;
			left: 50%;
			transform: translateX(-50%);
			border-top:solid $color-pink 2px;
			box-shadow: 7px 10px 16px rgba(0, 0, 0, 0.25);
			z-index: map-get($z-index, popup-user );

			a{
				font-size: 14px;
				display: block;
				padding: 4px 8px;
				color:$color-black;

				&.destaque{
					color: #fff;
					background-color: $color-pink;
				}
			}
		}
		&:hover ul.lista-links{
			display: block;
		}
	}

	.carrinho{
		display: inline-block;
		position: relative;

		li:not(.amount-items), strong, .title{
			display: none;
		}

		.AmountItemsInCart{
			line-height: 0;
		}

		.portal-totalizers-ref{
			display: inline-block;
			margin-left: 5px;
			vertical-align: top;
			position: relative;

			.cartInfoWrapper{
				@include sprite($sacola);

				@include mq(md, max){
					margin-right: 5px;
				}

				@include mq(md, min){
					transform: scale(0.8);
				}
			}

			.amount-items{
				background-color: $color-pink;
				border-radius: 50%;
				color: $color-white;
				font-size: 10px;
				line-height: 1.5;
				min-width: 22px;
				text-align: center;
				padding: 4px 5px;
				position: absolute;
				right: -34px;
				top: 20%;

				@include mq(md, max){
					min-width: 19px;
					padding: 2px 2px 1px;
					right: -3px;
				}

				@include mq(md, min){
					transform: scale(1.2);
				}

				em{
					font-style: normal;
				}
			}

		}

		&:hover .mini-cart{
			opacity: 1;
			visibility: visible;
			max-height: 1000px;
		}

		.mini-cart{
			background-color: $color-white;
			box-shadow: 0px 3px 15px -5px $color-black2;
			max-height: 0;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			right: 0;
			visibility: hidden;
			width: 375px;
			transition: all 0.3s ease-in-out;
			z-index: 15;

			@include mq(md, max){
				display: none;
			}

			.vtexsc-cart{
				display: block!important;
				overflow: visible!important;
			}

			.vtexsc-wrap {
				border-top: 2px solid $color-pink;
				max-height: 420px;
				margin-top: 15px;
				overflow-y: auto;
				padding: 0 20px;

				&::-webkit-scrollbar-track{
					background-color: $color-white;
				}

				&::-webkit-scrollbar{
					width: 7px;
					background-color: $color-white;
				}

				&::-webkit-scrollbar-thumb{
					background-color: $color-gray3;
				}
			}

			table{
				border-collapse: collapse;

				thead {
					display: none
				}

				tr{
					border-bottom: 1px solid $color-gray;
				}

				td {
					padding:15px 0px;
					vertical-align: middle;
					text-align: center;
				}
			}

			.vtexsc-productList {
				width: 100%;
				border: none;

				.cartSkuImage{
					padding-right:15px;
					width: 5em;

					.sku-imagem{
						display: block;
						height: 74px;
						margin: auto;
						overflow: hidden;
						width: 60px;

						img{
							position: relative;
							transform: translateX(-50%);
							left: 50%;
							height: 74px;
							width: auto;
						}
					}
				}

				.cartSkuName {
					text-align: left;
					width: 10em;

					h4{
						margin: 0;
					}

					a {
						color: $color-black;
						font-size: 12px;
						font-weight: 400;
					}
				}

				.cartSkuPrice {
					color: $color-black;
					font-size: 16px;
					font-weight: 700;
					width: 6em;
				}

				.cartSkuQuantity{
					display: none;
				}

				.cartSkuActions{
					.text {
						font-size: 0;
						text-decoration: none;
						display: block !important;

						@include sprite($fechar-white);
					}
				}
			}

			.cartFooter{
				padding:15px 0px 0px;
				text-align: center;
				position: relative;

				.cartTotal{
					font-size: 16px;

					.vtexsc-totalCart{
						margin-left: 3px;
						font-weight: bold;
					}
				}

				.cartCheckout {
					background-color: $color-green;
					color: $color-white;
					display: block;
					font-size: 14px;
					font-weight: 700;
					margin: 15px auto 0;
					padding: 14.5px 20px;
					text-transform: uppercase;
					transition: all 0.15s linear;
					width: 100%;

					&:before {
						content: 'Finalizar compra';
						letter-spacing: 1px;
					}

					&:hover{
						background-color: $color-green2;
					}

					&:active{
						background-color: $color-green3;
					}
				}
			}
		}
	}
}


.header-simples {
    border-bottom: 1px solid $color-gray;
    padding: 18px 0;
    a {
        color: #333;
    }
	.compra-segura {
		font-weight: 600;
		font-size: 17px;
		text-align: right;
	}

	.header ,
	.compra-segura {
		@include mq('sm',max){
			text-align: center;
			padding: 4px 0;
			font-size: 12px;
		}
	}

}

.ui-autocomplete {
	&.autocompleteopen {
		display: table !important;
	}

	background: white;
	padding: 0;
	z-index: 999 !important;
	width: auto !important;
	border: solid 1px #ccc;
	box-shadow: 0px 1px 5px -4.5px rgba(0, 0, 0, 0.95);

	li {
		padding: 12px 32px 12px 16px;
		overflow: hidden;
		font-size: 0.9em !important;

		&:nth-child(2n) {
			background-color: $color-gray4;
		}
		a{
			font-size: 14px;
			cursor: pointer;
		}
		img {
			margin-right: 10px;
			width: auto;
			vertical-align: middle;
		}
	}
}
