/***************************************************************/
/**-- Menu    ------------------------------********************/
/*-------------------------------------------------------------*/

.menu-principal{
	@include mq(md, max){
		background-color: $color-white;
		bottom: 0;
		margin-left: -100%;
		max-width: 375px;
		opacity: 0;
		position: fixed;
		top: 0;
		transition: all 0.45s ease-in-out;
		visibility: hidden;
		width: 100%;
		z-index: map-get($z-index, menu );
	}

	@include mq(md, min){
		border-bottom: 1px solid $color-gray;
	}

	&.mobile-open{
		margin-left: 0;
		opacity: 1;
		visibility: visible;
	}

	.topo-menu-mobile{
		display: none;

		@include mq(md, max){
			border-bottom: 1px solid $color-gray;
			display: block;
			padding: 20px 0;
			margin: 0 16px;
		}

		.login{
			color: $color-black2;
			display: inline-block;
			max-width: 230px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;

			.sprite-user{
				margin-right: 6px;
			}

			.area-login{
				display: inline-block;
				vertical-align: middle;
				width: 180px;
				text-overflow: ellipsis;
				overflow: hidden;

				a{
					color: $color-pink;
				}
			}
		}

		#close-menu-button{
			background: transparent;
			border: none;
			cursor: pointer;
			display: inline-block;
			float: right;
			outline: none;
		}
	}

	.itens{
		font-size: 14px;
		margin: 0;
		text-align: center;

		@include mq(md, max){
			bottom: 0;
			position: absolute;
			top: 80px;
			overflow-y: auto;
			width: 100%;
		}

		>li{
			display: inline-block;
			vertical-align: top;
			text-align: left;

			@include mq(md, max){
				display: block;
				margin: 0 16px;
			}

			&:hover{
				>a{
					@include mq(md, min){
						border-bottom-color: $color-pink;
					}
				}
			}

			&.ofertas{
				>a{
					color: $color-black;
					font-weight: 700;
				}
			}

			>a{
				display: inline-block;
				border-bottom: 1px solid transparent;
				padding: 24px;
				position: relative;
				text-transform: uppercase;

			}
			button{
				overflow: hidden;
				text-indent: -9999px;
				font-size: 0;

				display: inline-block;
				appearance: none;
				background-color: transparent;
				border: none;

				opacity: 0.75;
				position: absolute;
				z-index: 1;
				right: -10px;

				&:before{
					@include pseudo(block,relative);

					@include sprite($arrow-right);
					transform: scale(0.35) rotate(90deg);
				}

				@include mq(md, min){
					top:50%;
					transform: translateY(-50%);
				}
				@include mq(md, max){
					top:8px;
					right: 0;
					transform: none;
					&:before{
						transform: scale(0.45) rotate(90deg);
					}
				}
			}

			@include mq(md, max){
				margin: 0 8px;
				border-bottom: 1px solid $color-gray4;
				a{
					font-weight: 700;
					padding:16px 24px;
				}
			}


		}

		a{
			color: $color-gray2;
			display: block;
		}
	}

	.m3-dropdown{
		position: relative;

		&:hover{
			.m3-dropdown-menu{
				@include mq(md, min){
					max-height: 1000px;
					opacity: 1;
					top: 100%;
					visibility: visible;
				}
			}
		}

		&.sub-menu-open{
			.m3-dropdown-menu{
				@include mq(md, max){
					max-height: 1000px;
					opacity: 1;
					visibility: visible;
					padding-top: 8px;
					margin-left: 32px;
				}
			}

			>a:before{
				opacity: 1;
				transform: rotate(90deg) scale(0.5);

				@include sprite($arrow-right-pink);
			}
		}

		.m3-dropdown-menu{
			background-color: $color-white;
			max-height: 0;
			opacity: 0;
			transition: all 0.4s ease-in-out;
			visibility: hidden;
			z-index: map-get($z-index, menu );

			@include mq(md, min){
				border-top: 1px solid $color-gray;
				box-shadow: 0px 2px 9px -5px $color-black2;
				padding: 20px 20px 10px;
				position: absolute;
				top: 85%;
				transition: all 0.2s ease-in-out;
				width: 220px;
			}

			@include mq(md, max){
				border-bottom: 1px solid $color-gray4;
			}

			li{
				margin-bottom: 15px;

				@include mq(md, max){
					margin: 0;
					padding: 10px 0;
				}

				&.ver-todos{
					padding: 10px 0 15px;

					@include mq(md, min){
						display: none;
					}

					span{
						border-bottom: 1px solid;
					}
				}
			}

			@include mq(md, max){
				a{
					padding: 8px ;
					font-size: 14px;
					text-transform: uppercase;
				}
			}
		}
	}
}
