/***************************************************************/
/**-- Newslettter --------------------------********************/
/*-------------------------------------------------------------*/

.captacao-emails-newsletter{
	margin-top: 45px;
	margin-bottom: -45px;
	background-color: $color-gray;
	padding: 30px 0;

	@include mq(md, max){
		padding: 50px 0 60px;
	}

	@include mq(md, min){
		border-bottom: 1px solid $color-gray3;
	}

	@include mq(xl, max){
		text-align: center;
	}

	.row{
		align-items: center;
	}

	h3{
		color: $color-pink;
		font-size: 24px;
		text-transform: uppercase;
		margin: 0;

		@include mq(md, max){
			max-width: 320px;
			margin: auto;
		}
	}

	p{
		font-size: 15px;
		margin: 0;

		@include mq(md, max){
			max-width: 320px;
			margin: auto;
		}
	}
}

.m3-custom-newsletter-form{
	position: relative;

	@include mq(xl, max){
		margin-top: 15px;
	}

	label{
		display: none;
	}

	fieldset{
		display: inline-block;
		padding: 0;
		margin-right: 7px;

		@include mq(md, max){
			display: block;
			max-width: 320px;
			margin: 0 auto 10px;
			width: 95%;
		}

		&.m3-cn-button-ok-container{
			max-width: 130px;
			margin: 0;
			width: 100%;

			@include mq(md, max){
				margin: 30px auto 0;
				max-width: 260px;
			}
		}
	}

	input{
		border: none;
		font-size: 14px;
		outline: none;
		padding: 11px;
		width: 100%;

		@include mq(md, max){
			font-size: 18px;
			padding: 14px;
		}

		&#m3-cn-button-ok{
			background-color: $color-pink;
			color: $color-white;
			cursor: pointer;
			font-weight: 700;
			font-size: 14px;
			text-transform: uppercase;
			transition: all 0.15s linear;

			@include mq(md, max){
				padding: 17px 0;
			}

			&:hover{
				background-color: $color-pink2;
			}

			&:active{
				background-color: $color-pink3;
			}
		}
	}

	.m3-cn-msg{
		bottom: -28px;
		font-weight: 700;
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;

		.m3-cn-error{
			color: $color-pink3;
		}

		.m3-cn-success{
			color: $color-green;
		}

		.btn-voltar{
			color: $color-black2;
			display: block;
			line-height: 1;
			text-decoration: underline;
		}
	}
}

/* pop-up-newsletter */

.pop-up-newsletter{
	display: none;
	position: fixed;
	z-index:10;
	width:100%;
	top: 20%;

	.newsletter{
		text-align:center;
		background-color:#FFF;
		padding:20px;
		display:table;
		margin:0 auto;
		position: relative;

		.close-popup{
			font-size: 35px;
			color: #000;
			padding: 5px;
			cursor: pointer;
			position:absolute;
			top:0;
			right:0;
			line-height: 0.5;
		}

		input{
			border-bottom:solid 1px #333;
		}
	}

	.m3-custom-newsletter-form .btn-voltar{
		color:#333;
		border-color:#333
	}
}



